.img {
    height:50px;
}
.card-picture {
    width:400px;
    margin-bottom: 2%;
}
.container {
    min-height: 100%;
    width: 100%;
}
.padding-bot{
    padding-bottom: 100px;
}

.mat-chip{
    color:white;
}
mat-checkbox{
    padding-right: 15px;
}
.ability{
    background:black;
}
//Pokemon types colors
.poison{
    background: purple;
}

.grass{
    background: green;
}

.fire{
    background: red;
}

.water{
    background: blue;
}

.electric{
    background: yellow;
    color:black;
}

.normal{
    color:black;
}

.flying{
    background: rgb(177, 148, 177);
    color: black;
}

.bug{
    background: greenyellow;
    color: black;
}

.ground{
    background: rgb(90, 53, 18);
}

.psychic{
    background: pink;
    color: black;
}

.ice{
    background: rgb(0, 174, 255);
}

.rock{
    background: gray;
}

.steel{
    background: rgb(20, 170, 158);
}

.ghost{
    background: rgb(70, 18, 70);
}

.dark{
    background: black;
}

.fairy{
    background: rgb(173, 37, 121);
}

.fighting{
    background: rgb(190, 89, 58);
}

.dragon{
    background: rgb(26, 58, 80);
}